<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <!--DTLMS LIVE-->
    <!--<add name="pgSQL" connectionString="Server=10.20.20.58;Port=5432;Database=HESCOM_DTLMS;MinPoolSize=0;MaxPoolSize=1000;ConnectionIdleLifetime=500;Pooling=false;User Id=postgres;CommandTimeout =300;Password=" providerName="Npgsql"/>-->
    <!--DTLMS TESTING-->
    <add name="pgSQL" connectionString="Server=192.168.6.53;Port=5432;Database=HESCOM_DEV;MinPoolSize=0;MaxPoolSize=1000;ConnectionIdleLifetime=500;Pooling=false;User Id=postgres;CommandTimeout =300;Password=" providerName="Npgsql" />
    <!--DTLMS DEV DB-->
    <!--<add name="pgSQL" connectionString="Server=192.168.6.53;Port=5432;Database=HESCOM_DEV;MinPoolSize=0;MaxPoolSize=1000;ConnectionIdleLifetime=500;Pooling=false;User Id=postgres;CommandTimeout =300;Password=" providerName="Npgsql" />-->
    <!--DTLMS UAT DB-->
    <!--<add name="pgSQL" connectionString="Server=192.168.4.16;Port=5432;Database=HESCOMDTLMS_UAT;MinPoolSize=0;MaxPoolSize=1000;ConnectionIdleLifetime=500;Pooling=false;User Id=postgres;CommandTimeout =300;Password=" providerName="Npgsql" />-->

    
    
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
    <add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
    <!--<add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};S Properties='Excel 8.0;HDR=YES'" />-->
  </connectionStrings>
  <appSettings>

    <!--<add key="SENDMAILID" value="support@ideainfinityit.com" />
    <add key="SENDSMTP" value="smtp.bizmail.yahoo.com" />
    <add key="SENDSMTPPORT" value="465" />
    <add key="SENDPWD" value="Idea@12345+" />-->

    <add key="SENDPWD" value="Idea@123+" />
    <add key="SENDMAILID" value="support.itracker@ideainfinityit.com" />
    <add key="SENDSMTP" value="mail.ieasybill.in" />
    <add key="SENDSMTPPORT" value="587" />
    <add key="UpdateLimit" value="10" />
    
    <add key="ITICKETNEWCHANGES" value="YES"/>   <!--YES/NO-->
    <add key="ITICKETENCRYPTDECRPTKEY" value="HDT"/>
    <add key="Iticket_url_path" value="http://192.168.6.18:114/Ticket/RaiseTicketDetails" />
    
    <!--testing-->
    <add key="SFTPPath" value="192.168.6.18" />
    <!--production-->
    <!--<add key="SFTPPath" value="sftp.hescomdtlms.com" />-->
    <add key="SFTPmainfolder" value="HESCOM_DTLMSFiles/" />
    <add key="SFTPmainfolder1" value="HESCOM_DTLMSFiles/ENUMERATION/" />
    
    
    <add key="AllotmentLiveFlag" value="0" />
    <add key="DTRSTARTRANGE" value="000000" />
    <add key="DTRENDRANGE" value="300000" />
    <add key="RepairerMaxAmount" value="500000" />
    <add key="MegaRepairers" value="48,50,51" />
    <add key="MegaRepairersCount" value="3" />
    <add key="NEWSTORE" value="2" />
    <add key="OLDSTORE" value="25" />
    <add key="NEWDIV" value="123" />
    <add key="logPgrsDocketurl" value="OFF" />
    <add key="KAVIKA_NEW" value="110" />
    <add key="EsterOilValue" value="123.2" />
    <add key="SELECTEDADMIN" value="12,38,8,11,3,36,31" />
    <add key="oprole" value="38" />
    <add key="SessionWarning" value="20" />
    <add key="pgSQLPassword" value="SWRlYUAxMjM0NSs=" />
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
    <add key="PgrsDocketno" value="OFF" />
    <add key="ErrorMsg" value="ON" />
    <add key="SendEmail" value="ON" />
    <add key="SendSMS" value="ON" />
    <add key="Approval" value="ON" />
    <add key="LOGTOTBL" value="ON" />
    <!--<add key="SELECTEDUSER" value="1431"/>-->
    <add key="SELECTEDUSER" value="1016" />
    <add key="SELECTEDUSER1" value="8" />
    <add key="WOCOMMID" value="1" />
    <add key="WODECOMMID" value="2" />
    <add key="WorkOrderRangeAllocation" value="1012" />
    <add key="EmptyData" value="No Records Found" />
    <add key="AccessRightsIfDenied" value="Sorry , You are not authorized to Access" />
    <add key="AccessRightsAll" value="1" />
    <add key="AccessRightsCreate" value="2" />
    <add key="AccessRightsModifyandDelete" value="3" />
    <add key="AccessRightsReadOnly" value="4" />
    <add key="ApproveStatusPending" value="0" />
    <add key="ApproveStatusApproved" value="1" />
    <add key="ApproveStatusModifyandApprove" value="2" />
    <add key="ApproveStatusReject" value="3" />
    <add key="ActionTypeApprove" value="A" />
    <add key="ActionTypeModifyApprove" value="M" />
    <add key="ActionTypeReject" value="R" />
    <add key="ActionTypeView" value="V" />
    <add key="saveText" value="Save" />
    <add key="ApproveText" value="Approve" />
    <add key="ModifyText" value="Modify and Approve" />
    <add key="RejectText" value="Reject" />
    <add key="ViewText" value="View" />
    <add key="ApproversCommentreq" value="Enter Comments/Remarks" />
    <add key="SuccessApprove" value="Approved Successfully" />
    <add key="SuccessModify" value="Modified and Approved Successfully" />
    <add key="SuccessReject" value="Rejected Successfully" />
    <add key="TransactionLog" value="1" />
    <add key="SubmitText" value="Submit" />
    <add key="RoleTypeLevelUsers" value="1" />
    <add key="RoleTypeStore" value="2" />
    <add key="RoleTypeAdmin" value="3" />
    
    <add key="AccessRights" value="ON" />
    <add key="NamePlateFolder" value="NamePlate" />
    <add key="SSPlateFolder" value="SSPlate" />
    <add key="OldCodeFolder" value="OldCode" />
    <add key="IPEnumCodeFolder" value="IPEnumCode" />
    <add key="DTLMSCodeFolder" value="DTLMSCode" />
    <add key="InfosysCodeFolder" value="InfosysCode" />
    <add key="DTCPhoto" value="DTCPhoto" />
    <add key="PhotoFormat" value=";jpg;jpeg;png;gif;" />
    <add key="FileFormat" value=";jpg;jpeg;png;gif;pdf;" />
    <add key="MaterialallotmentFormat" value=";jpg;jpeg;png;gif;pdf;xlsx;xls" />
    <add key="UploadFormat" value=";xlsx;.xls" />
    <add key="NotAllowFileFormat" value=";zip;exe;rar;DMP;msi;" />
    <add key="SQLLiteDB" value="//192.168.4.21/TRM-FTP/DTLMS_LIVE/DOWNLOAD/" />
    <add key="VENDOR_USERNAME" value="ideainfinity" />
    <add key="VENDOR_PASS" value="Iiits@easypay" />
    <add key="VENDOR_SENDERID" value="DTCLMS" />
    <add key="DtrMakeWiserpt" value="15" />
    <add key="EmployeeCost" value="20" />
    <add key="ESI" value="18.36" />
    <add key="ServiceTax" value="18" />
    <add key="DecomLabourCost" value="0.9" />
    <add key="SMStoForgotPwd" value="Hi {0} ,Your password to login to DTLMS is {1}" />
    <add key="SMStoOTP" value="Hi {0} ,Use OTP {1} as DTLMS account password Reset" />
    <add key="SMStoUserSuccCreat" value="DTC Life Cycle Management System, Dear Sir/Madam {0}, Your User Name is: {1} and Your Password is: {2},  Note: Please Change Your Password-Team DTLMS" />
    <add key="SMStoFailure" value="Dear Sir/Madam,DTC Code {0}, Failure Entry and Estimation is approved by AEE,log on to www.bescomdtlms.com for further action-Team DTLMS" />
    <add key="SMStoWorkOrder" value="Dear Sir/Madam,DTC Code {0},DTC Name {2},WO No {1} is approved by division officer,you may proceed further Indent,log on to www.bescomdtlms.com-Team DTLMS" />
    <add key="SMStoRI" value="Dear Sir/Madam,Your RI No {0},DTr No {1}, submitted at {2} Store is accepted by store officer,you may proceed further for CR-Team DTLMS" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="SMStoFailureCreate" value="Dear Sir/Madam,Failure Entry is created for DTC Code {0} by SO,log on to www.bescomdtlms.com for further action-Team DTLMS" />
    <add key="SMStoEstimationCreate" value="Dear Sir/Madam,Estimation created for DTC Code {0},DTC Name {1} has been approved,log on to www.bescomdtlms.com for further action-Team DTLMS" />
    <add key="SMStoWorkOrderCreate" value="Dear Sir/Madam,Work Order created for DTC Code {0},DTC Name {1} has been approved,log on to www.bescomdtlms.com for further action-Team DTLMS" />
    <add key="SMStoIndentCreate" value="Dear Sir/Madam,Indent is Created for DTC Code {0},DTC Name {2},WO No {1} by SO,you may proceed further,log on to www.bescomdtlms.com-Team DTLMS" />
    <add key="SMStoIndent" value="Dear Sir/Madam,Indent is Approved for DTC Code {0},WO No {1},Indent No {2},you may proceed further,log on to www.bescomdtlms.com-Team DTLMS" />
    <add key="SMStoInvoice" value="Dear Sir/Madam,Invoice is Created by Store Keeper for Indent No {0},Invoice No {1},you may proceed further,log on to www.bescomdtlms.com-Team DTLMS" />
    <add key="SMStoDecommCreate" value="Dear Sir/Madam,Decommission is Created by SO for DTC Code {0},DTr Code {1},you may proceed further,log on to www.bescomdtlms.com-Team DTLMS" />
    <add key="SMStoDecomm" value="Dear Sir/Madam,Decommission is Approved for Invoice No {0},RI No {1}, you may proceed further,log on to www.bescomdtlms.com-Team DTLMS" />
    <add key="SMStoRICreate" value="Dear Sir/Madam,Your RI No {0},DTr Code {1} Submitted to Store,you may proceed further,log on to www.bescomdtlms.com-Team DTLMS" />
    <add key="SMStoCRCreate" value="Dear Sir/Madam,CR for RI No {0},Faulty DTr Code {1},Replaced DTr Code {2} has been approved,log on to www.bescomdtlms.com-Team DTLMS" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="MissMatchRemarks" value="Mismatch Entry is done based on Mr./Mrs      with Designation       Orders given on date  , MOB NO     " />
    <add key="AllocatedRemarks" value="New Allocation Entry is done based on Mr./Mrs      with Designation       Orders given on date  , MOB NO     " />
    <add key="SMStoWorkOrderApprover" value="Dear Sir/Madam,DTC Code {0},DTC Name {1} is approved by {2},you may proceed further Indent,log on to www.bescomdtlms.com-Team DTLMS" />
    <add key="SMStoEstimateApprover" value="Dear Sir/Madam,DTC Code {0},DTC Name {1} is approved by {2},you may proceed further ,log on to www.bescomdtlms.com-Team DTLMS" />
    <add key="SMStoReject" value="Dear Sir/Madam,{0} for DTC Code {1}, had Rejected by {2},log on to www.bescomdtlms.com for further action-Team DTLMS" />
    <add key="S" />
    <add key="FTP_HOST" value="ftp://123.201.255.165/DTLMS_LIVE/dtlms external apk downloads/" />
    <add key="UploadFormat" value=";xlsx;.xls" />
    <add key="InwardedTCPath" value="http://192.168.6.18:1133/SFTP_FILES/" />
    <add key="FTP_HOST_DOC" value="ftp://192.168.6.18/TRM" />
    <add key="FILE_VIRTUAL_PATH" value="\\192.168.4.21\trm-ftp\DTLMSFILES\ENHANCEMENTDOCS\" />
    <add key="CircularsVirtualPath" value="/DTLMS_LIVE/Circulars/" />
    <!--<add key="EstimatioinVirtualPath" value="DTLMS_LIVE/" />-->  
    <add key="EstimatioinVirtualPath" value="ftp://192.168.6.18/TRM" />
    <add key="FTP_USER" value="FTP_USER" />
    <add key="FTP_PASS" value="Idea@2017" />
    <add key="ApkFileName" value="/DTLMS.rar" />
    <add key="FTP_PORT" value="21" />
    
    
<!--for intermal sms new-->
    <add key="SMSVENDER_USERNAME" value="IIITS_SMS_API"/>
    <add key="SMSVENDER_PASSWORD" value="IIITS@2022+"/>
    <add key="SMSWEBAPIURL" value="http://tracker.ideainfinityit.com:1996/"></add>
    <add key="APIPOSTCONTROLLER" value="/api/SMSApi/FireSMS/"></add>
    
    <!--for send sms-->
    <add key="VENDOR_USERNAME1" value="ideainfinity"/>
    <add key="VENDOR_PASS1" value="Idea@2018"/>
    <add key="VENDOR_LINK1" value="https://smslogin.co"/>
    <add key="APIKEY1" value="25c5017c641dfec99ffe"></add>
    <add key="SenderIDFromConfig1" value="OFF" />
    
    <add key="AdminRole" value="11" />
    <add key="AdminRole1" value="8" />
    <add key="SupAdminRole" value="12" />
    <add key="SupAdminUserId" value="1431" />
    <add key="LOGFILEPATH" value="C:\ERRORLOG\MAIN_APPLICATION\" />
    <add key="LOGTOFILE" value="ON" />
    <add key="Failure_Approve" value="1" />
    <add key="Zone_code" value="1" />
    <add key="Circle_code" value="2" />
    <add key="Division_code" value="3" />
    <add key="SubDiv_code" value="4" />
    <add key="Section_code" value="5" />
    <add key="feeder_code" value="6" />
    <add key="suppact" value="38" />
    <add key="suppact1" value="39" />
    
    <!--testing-->
    <!--<add key="VirtualDirectoryPath" value="http://192.168.6.18:1133/SFTP_FILES/HESCOM_DTLMSFiles/ENUMERATION/" />-->
    <!--testing-->
    <add key="VirtualDirectoryPath" value="http://192.168.6.18:1301/HESCOM_DTLMSFiles/ENUMERATION/" />
    <!--live-->
     <!--<add key="VirtualDirectoryPath" value="https://hescomdtlms.com/HESCOMDTLMS/ENUMERATION/" />-->
    <add key="VirtualDirectoryPathinwardnew" value="http://192.168.6.18:1301/" />
    
 <add key="VirtualDirectoryPathPMCInvoice" value="http://192.168.6.18:1301/HESCOM_DTLMSFiles/PMC_INVOICE/" />
    <!--<add key="VirtualDirectoryPathPMCInvoice" value="http://sftp.hescomdtlms.com/hescomdtlms/PMC_INVOICE/" />-->
    <add key="VirtualDirectoryPathinward" value="http://192.168.6.18:1133/SFTP_FILES/" />
     <!--Production-->
    <!--<add key="VirtualDirectoryPath" value="http://sftp.hescomdtlms.com/hescomdtlms/enumeration/" />-->
<add key="VirtualDirectoryPathinvoice" value="http://192.168.6.18:1133/SFTP_FILES/" />
    <add key="VirtualDirectoryDocs" value="http://192.168.4.23:1999/HESCOM_DTLMSFiles/" />
    <add key="VirtualDirectoryPMCDocs" value="http://192.168.6.18:1301/HESCOM_DTLMSFiles/" />
    <add key="VirtualPath" value="http://192.168.6.18:1301/HESCOM_DTLMSFiles/" />
    
    <add key="LOGS" value="D:\FILELOG\" />
    <add key="LoginAttempts" value="5" />
    <add key="LoginAttemptsTimeRange" value="900" />
    <add key="LoginAttemptsApply" value="2" />
    <add key="VaildationOfDtcDtr" value="FALSE" />
    <add key="ValidateCRCompletion" value="FALSE" />
  </appSettings>
  

  <system.web>
   
    <sessionState mode="InProc" timeout="60" cookieless="false" />
     
     
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <httpRuntime maxRequestLength="2000000000" executionTimeout="999999" />
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add verb="*" path="captimage.axd" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=19.4450.0.43, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
    </httpHandlers>
    <customErrors mode="Off" defaultRedirect="~\Error\ErrorMessege.htm" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add verb="*" path="captimage.axd" name="syncfusion_generatetools" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=19.4450.0.43, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <staticContent>
    
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
    </staticContent>
    
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.4.151:888/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="DtmmsWebService.IService1" name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.109.0" newVersion="1.0.109.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Renci.SshNet" publicKeyToken="1cee9f8bde3db106" culture="neutral"/>
        <codeBase version="2020.0.2.0" href="path_to_correct_assembly/Renci.SshNet.dll"/>
      </dependentAssembly>

    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: {0190FDE4-4027-4E90-B93A-E84AB56EB9E2}-->